<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}
      <script src = "/libs/bootstrap/dist/css/bootstrap.min.js"></script>
      <script src = "/libs/jquery/dist/jquery.min.js"></script>  
  </body>
</html>
